<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->
    <script>
      function startOnClick(){
        var status = document.getElementById("status");
        if (status.value=="ToDO") status.value = "Doing";
        else (status.value = "Done");
      }
    </script>
    <script>
      function resumeOnClick(){
        var resume = document.getElementById("resume");
        if (resume.value=="Pause") resume.value = "Resume";
        else resume.value = "Pause";
      }
    </script>
  </head>
  <body>
   
    <div class="container-fluid">
      <div class="row">
        <h1>Bugs</h1>
        <br>
        <div class="col-xs-10">
          <% @bugs.each do |bug| %>
            <label><%= link_to bug.title.upcase, bug %></label>
            <p><%= bug.description %></p>
            <p>
              <strong>Assigned to :</strong> 
              <%= bug.assign %>
            </p>
            <p><%= image_tag bug.image.url(:thumb) %></p>
            <p>
              <strong><%= "Files attached :" %></strong>
              <%= link_to bug.document, bug.document.url %>
            </p>
            <p>
              <input type="button" value="ToDO" id="status" onclick="startOnClick();">
              <input type="button" value="Pause" id="resume" onclick="resumeOnClick();">
            </p>
            <p class="form-inline">
              <div class="form-inline">
                <%= link_to 'Edit', edit_bug_path(bug) if policy(Bug).edit? %>
                <%= link_to 'Delete', bug, method: :delete, data: { confirm: "Are you sure to delete #{bug.title}?" } if policy(Bug).destroy?%>
              </div>
            </p>
          <%end%>
        </div>
      </div>
    </div>
  </body>
</html>
