<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script>
      $(".dropdown-menu li a").click(function(){
        
        $(".btn:first-child").html($(this).text()+' <span class="caret"></span>');
        
      });
    </script>
  </head>
    <body>

      <p id="notice"><%= notice %></p>

      <h1>Bugs</h1>
      
        <!-- <%= link_to 'Write a New Bug', new_bug_path %> -->
        
      <table>
        <thead>
          <tr>
            <th>Bug Title</th>
            <th>Bug Description</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @bugs.each do |bug| %>
            <tr>
              <td><%= link_to bug.title.upcase, bug %></td>
              <td><%= bug.description %></td>
              <td><%= image_tag bug.image.url(:thumb) %></td>
              <td><%= "Files attached : #{bug.document}" %></td>
              <td><%= link_to 'Edit', edit_bug_path(bug) if policy(Bug).edit? %></td>
              <td><%= link_to 'Delete', bug, method: :delete, data: { confirm: "Are you sure to delete #{bug.title}?" } if policy(Bug).destroy?%></td>
              <td class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Status
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">ToDo</a></li>
                  <li><a href="#">Doing</a></li>
                  <li><a href="#">Done</a></li>
                </ul>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      

    </body>
</html>
