<div class="container">
  <div class="row">
    <div class="col-xs-8" >
      <h2><%= @bug.title %></h2>
      <p> <%= @bug.description %></p>
      <p><strong>Files attached:</strong></p>
      <%= link_to @bug.document, @bug.document.url  %>
      <br>
      <br>
    </div>
    <div class="col-xs-2" >
     <%= image_tag @bug.image.url(:main) %>
    </div>
    
    <div class="col-xs-6">  
      <h2>Comments</h2>
      <br> 
      <%= render @bug.comments %>
      <br>
      <%= render 'comments/form' %>
      <br>
      <% if policy(Bug).edit? %>
        <%= link_to 'Edit', edit_bug_path(@bug) %>
      <% end %>
      <%= link_to 'Back', bugs_path %>
    </div>
  </div>
</div>
