<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-2"> 
          <h3>Bug Tracker</h3>
          <br>
          <% if policy(Bug).new? %>
            <p><%= link_to 'Write a New Bug', new_bug_path %></p>
          <% end %>

          <% if policy(Bug).show? %>
            <p><%= link_to "View All Bugs", bugs_path %></p>
          <% end %>
          <br>
          <p><%= link_to "Register", new_user_path %></p>
          <% if current_user %>
            <p><%= link_to "Edit Profile", edit_user_path(current_user) %></p>
            <p><%= link_to "Logout", :logout, method: :post %></p>
          <% else %>
            <p><%= link_to "Login", :login %></p>
          <% end %>
        </div>
        <div class="col-xs-10">         
          <%= yield %>
          <%= render :partial => 'flash_messages', :flash => flash %>
        </div>
      </div>
    </div>
  </body>
</html>
